# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Model files
*.h5
*.hdf5
*.pkl
*.joblib
*.sav

# Docker
*.log
*.pid
*.tar
*.gz
*.img
*.sqlite3
docker-compose.override.yml

# dotenv
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários de editor
*.swp
*.swo

# Dados brutos temporários
data/raw/

# Pasta de Dados
data/


# Dados csv
*.csv

statistics/*
!statistics/.keep

